body {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    font-family: Arial;
    color: white;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
}

.card {
    background: rgba(255,255,255,0.1);
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

button {
    background: #00c6ff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

input, textarea {
    padding: 10px;
    width: 80%;
    margin: 10px;
    border-radius: 8px;
    border: none;
}
